
body {
    
	background-color: lightsteelblue;
    padding: 25px;
    font-size: 2em;
}
h1,h2,h3,h4 {
    margin: 0;
}
.codeOut {
    color: darkblue;
}
.thickHR {
    height: 8px;
    background: black;
}
.gray {
    color: #40a4aE;
}
